@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body,
html {
  height: 95%;
  /* background-color: #f8fafc; */
  background-color: #121212;
  /* background-color: #222629; */
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 2em;
  gap: 0.25em;
}

.input-container {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.location-input-div {
  display: flex;
  background-color: #F9F7F7;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  gap: .5em;
  border-radius: 1.5em;
}

.location-input {
  border: none;
  outline: none;
  background: #F9F7F7;
  font-size: 1.1em;
  width: 10em;
}

.unit-button, .location-submit {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: none;
  background-color: #3282B8;
  cursor: pointer;
}

.unit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  color: #F9F7F7;
}

/* .location-submit {
  background-color: #3282B8;
  cursor: pointer;
} */

.weather-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  /* background: #557a9b; */
  /* border-radius: 1em; */
}

#weather-card {
  display: flex;
  flex-direction: column;
  margin: 1em;
  /* padding: 1em; */
  /* border: 1px solid #121212; */
  border-radius: 1em;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
  background-color: #1B262C;
}

.location {
  background-color: #1B262C;
  color: #3282B8; 
  /* opacity: .87; */
  /* margin-bottom: 1em; */
  padding: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  font-size: large;
  font-weight: bold;
}

p, #temperature, #feels-like {
  margin: 1em;
  /* opacity: .6; */
  color: #BBE1FA;
}
