@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat&display=swap");

body,
html {
  height: 95%;
  /* background-color: #f8fafc; */
  background-color: #121212;
  /* background-color: #222629; */
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 2em;
  gap: 0.25em;
}

.input-container {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.location-input-div {
  display: flex;
  background-color: #f9f7f7;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  gap: 0.5em;
  border-radius: 1.5em;
}

.location-input {
  border: none;
  outline: none;
  background: #f9f7f7;
  font-size: 1.1em;
  width: 10em;
}

.unit-button,
.location-submit {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: none;
  background-color: #3282b8;
  cursor: pointer;
}

.unit-button:hover,
.location-submit:hover {
  background-color: #121212;
  transition: 0.5s;
}

.unit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  color: #f9f7f7;
}

.weather-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  /* background: #557a9b; */
  /* border-radius: 1em; */
}

#weather-card {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  /* border: 1px solid #121212; */
  border-radius: 1em;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
  background-color: #1b262c;
}

.location {
  background-color: #1b262c;
  color: #3282b8;
  /* opacity: .87; */
  /* margin-bottom: 1em; */
  margin: 15px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  font-size: 1.75em;
  font-weight: bold;
}

.weather-icon {
  width: 7em;
}

.description {
  font-size: 1.2em;
  margin-bottom: 0px;
}

#temperature {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0.5em;
}

p,
#temperature,
#feels-like {
  margin-right: 15px;
  margin-left: 15px;
  /* opacity: .6; */
  color: #bbe1fa;
}

p,
#feels-like {
  margin-top: 5px;
  margin-bottom: 5px;
}
